/*.body{
  font-family: Arial, Helvetica, sans-serif;  
  }*/
.Cont{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display:flex;
  position: relative;
  flex-wrap:wrap;
  width: 1600px;
  margin: auto;
  color: white;
  background: #F5FFFA;
}
.Item{
  border: 2px solid black;
  width: 672px;
  height: 600px;
  margin:25px;
  padding:35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 25px;
  background-color: RGB(120, 65, 98);
  box-shadow: 0 0 10px rgba(0,0,0,1);
  background: #fcc300;
}
.BackOf{
  position: absolute;
  height: 260px;
  width:260px;
  top: 569px;
  left:641px;
  border:none;
  padding: 0px; 
  border-radius: 50%;
}

.ImgBO {
  width: 250px;
  height: 250px; 
  border-radius: 50%;
  border: 5px solid white;
}

.Img {
  object-fit: cover;
  width: 400px;
  height: 100%;
}

.Picture {
  width: 674px;
  margin-right: 0;
  /*border-right: none;*/
  border-radius: 25px 25px 25px 25px;
  background: #fcc300;
}
.Name {
 margin-left: -314px;
 padding-left: 35px;
 width: 242px;
 border-left: none;
 box-shadow: none;
 font-size: 35px;
 border-radius: 0px 25px 25px 0px;
 background: #fcc300;
 /*font-weight: bold;*/
}
.start {
  text-align: right;
  font-size: 35px;
<<<<<<< HEAD
}
.weeks {
  text-align: left;
  font-size: 35px;
=======
  font-weight: bold;
  background: #651144;
}
.weeks{
  background: #651144;
>>>>>>> 5f211feb24624778243cf6a196f761300194a416
}