.Cont{
  display:flex;
  position: relative;
  flex-wrap:wrap;
  width: 1600px;
  margin: auto;
}
.Item{
  border: 2px solid black;
  width: 672px;
  height: 600px;
  margin:25px;
  padding:35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.BackOf{
  position: absolute;
  height: 260px;
  width:260px;
  top: 569px;
  left:641px;
  border:none;
  padding: 0px; 
}

.ImgBO {
  width: 250px;
  height: 250px; 
  border-radius: 50%;
  border: 5px solid white;
}

.Img {
  object-fit: cover;
  width: 400px;
  height: 100%;
}

.Picture {
  width: 360px;
  margin-right: 0;
  border-right: none;
}
.Name {
 margin-left: 0;
 padding-left: 35px;
 width: 242px;
 border-left: none;
 font-size: 35px;
 /*font-weight: bold;*/
}
.start {
  text-align: right;
  font-size: 35px;
  font-weight: bold;
}
.weeks{
  
}